@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

.width-page{
	width: 100%;
}
html{
	font-family: 'Source Sans Pro', sans-serif;
}
.edgeLoad-EDGE-1385226 { 
	visibility:hidden; 
}
.img-responsive{
	width:100%;
	height:auto;
}
.fixnav{
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	z-index: 900;
	background-color: white;
}
.fixnav a{
	z-index: 901;
}
nav a{
	margin:15px;
	
}
.fixnav-bottom{
	background-color:white;
	position: fixed;
	left:0px;
	right:0px;
	width:100%;
	bottom: 0px;
	height:50px;
	z-index: 900;
}
.icon-head{
	padding:50px;
}
.header{
	margin-top:20px;
}
.divarti{
	margin-bottom:50px;
	margin-top:50px;
}
#contact,#people{
	z-index: -1;
}
.footer{
	margin:70px 0px 0px;
	
	width: 100%;
	
}
#people{
	margin-top:50px;
	background-color: #E0E0EB;
}

.block{
	padding:50px 0 35px;
}
#work,#project{
	min-height: 600px;
}

.frm-control{
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 3px;
	padding: 10px;
	width:70%;
}
.frm-control:hover{
	border: 1px solid rgba(83, 138, 255, 0.9);
}
.frm-control:focus{
	border: 1px solid rgba(83, 138, 255, 0.9);
	box-shadow: 1px 1px 10px rgba(83, 138, 255, 0.3);
}
.dropcaps{
	float: left;
	padding-top: 6px;
	padding-right: 8px;
	padding-left: 3px;	
}
.dropcap-oneline{
	float: left;
	padding-right: 8px;
	padding-left: 3px;	
}
.center-footpic{
	text-align: center;
	margin-left: -32%;
}
.opacity5{
	opacity:0.5;
}
.opacity7{
	opacity:0.7;
}
.icon-head img{
	width:100%;
	height:auto;
}
.container-center{
	margin-left: 10% !important;
	margin-right: 10% !important;
	width: 80% !important;
}

.swiper-container {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	z-index: 0 !important;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	height: 200px;
        
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	 -webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide a{
	padding:0;
}
.gallery-img{
	height:209.33px;
}
.gallery-img img{
	max-width: unset !important;
	margin:0;
	height:100%;
	width:auto;
}
@media screen and (max-width: 1100px){
	#map{
		width: 350px;
		height: 250px;	
	}
	hr{
		width: 77%;
	}
}	

@media screen and (max-width: 768px){
	#btn-location{
		display: none;
	}
	
}
@media (max-width:1920px){
	#btn-location{
		display: none;
	}
	#map{
		width: 400px;
		height:300px;
	}
	.uk-hidden {
	    display: block !important;
	    visibility: visible !important;
	}
	.icon-head{
		padding:100px;
	}
	.icon-head img{
		width:125px;
		height:auto;
	}	
	.fixnav-bottom a{
		font-size:16px;
		margin:15px 35px;
	}
	.fixnav-bottom .uk-grid{
		margin-left: -15px;
	}
	.container{
		width: 40%;
		margin-left:30%;
		margin-right:30%;
	}
	.swiper-container-2{
		margin-left: 30% !important;
		margin-right: 30% !important;
		width: 40% !important;
	}
	.gallery-img{ 
		height: 198px;
	}
}
@media (max-width:1366px){
	.swiper-container-2{
		margin-left: 20% !important;
		margin-right: 20% !important;
		width: 60% !important;
	}
	.icon-head{
		padding:70px;
	}
	.icon-head img{
		width:100px;
		height:auto;
	}
	.container{
		width: 60%;
		margin-left:20%;
		margin-right:20%;
		
	}	
	h1{
		font-size:2em;

	}
	h2{
		font-size:1.6em;
		margin-top:0px;
	}
	h3{
		font-size:1.4em;
	}
	p,a,form{
		font-size:1em;
	}
	.fixnav-bottom a{
		font-size:14px;
		margin:15px 20px;
	}
	.fixnav-bottom .uk-grid{
		margin-left: -10px;
	}
	.uk-width-large-2-5{
		 width:60%;
	}

}
@media (max-width:1280px){
	.icon-head{
		padding:80px;
	}
	.gallery-img{ 
		height: 198px;
	}

}
@media (max-width:1024px){
	.icon-head{
		padding:60px;
	}
	.header,.divarti{
		margin-top:0;
	}
	.block{
		padding:50px 0 15px;
	}	
	.swiper-container-2{
		margin-left: 15% !important;
		margin-right: 15% !important;
		width: 70% !important;
	}
	.container{
		width:70%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.uk-width-medium-3-5{
	 width:70%;
	}
	.gallery-img{ 
		height: 184px;
	}
}
@media (max-width:980px){
	
	.gallery-img{ 
		height: 202.33px;
	}
}
@media (max-width:800px){
	#map{
		width: 100%;
	}
	.swiper-container-2{
		margin-left: 5% !important;
		margin-right: 5% !important;
		width: 90% !important;
	}
	.gallery-img{ 
		height: 185.33px;
	}
}
@media (max-width:768px){
	
	.header,.divarti{
		margin-top:0;
	}
	.block{
		padding:50px 0 15px;
	}	
	.container{
		width:90%;
		margin-left: 5%;
		margin-right: 5%;
	}	
	.fixnav-bottom a{
		font-size:14px;
		margin:15px 20px;
	}
	.fixnav-bottom .uk-grid{
		margin-left: -10px;
	}
	.uk-width-medium-3-5{
	 width:90%;
	}
	.gallery-img{ 
		height: 177.66px;
	}
}
@media (max-width:640px){
	#btn-location{
		display: block;
	}
	#map{
		width: 100%;
	}
	.uk-hidden {
	    display: none !important;
	    visibility: hidden !important;
	}
	.icon-head{
		padding:50px;
	}
	.fixnav-bottom a{
		font-size:14px;
		margin:15px 16.5px;
	}
	.container-center{
		margin-left: 2% !important;
	  	margin-right: 2% !important;
	  	width: 96% !important; 
	}
	.gallery-img{
		height:177px;
	}
}
@media (max-width:480px){
	h2{
		font-size:1.5em;
	}
	h3{
		font-size:1.3em;
	}
	p,a,form{
		font-size:0.9em;
	}
	.fixnav-bottom a{
		font-size:13px;
		margin:15px 12px;
	}
	.gallery-img{
		height:112.66px;
	}
}
@media (max-width:412px){
	.icon-head{
		padding:40px;
	}
	.fixnav-bottom a{
		font-size:12px;
		margin:15px 10.5px;
	}
}
@media (max-width:360px){
	.fixnav-bottom a{
		margin:15px 5px;
	}
	#map{
		width: 100%;
	}
	.gallery-img{
		height:97px;
	}
}
@media (max-width:320px){
	.block{
		padding:50px 0 15px;
	}
	p,a,form{
		font-size:0.8em;
	}
	.fixnav-bottom a{
		font-size:11px;
		margin:15px 2.5px;
	}
	.gallery-img{
		height:85.33px;
	}
}
