@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
#project figure  img{ 
	width: 100% !important;
	height: 250px!important;
	overflow: hidden!important;
}

.width-page{
	width: 100%;
}
html{
	font-family: 'Source Sans Pro', sans-serif;
}
.edgeLoad-EDGE-1385226 { 
	visibility:hidden; 
}

.container{
	width: 70%;
	margin-left:15%;
	margin-right:15%;
	
}

.fixnav{
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	z-index: 1111;
	background-color: white;
}
.fixnav a{
	z-index: 1111111111;
}
nav a{
	margin:15px;
	
}
.fixnav-bottom{
	background-color:white;
	position: fixed;
	left:0px;
	right:0px;
	width:100%;
	bottom: 0px;
	height:50px;
	min-width: 800px;
	z-index: 1111;
}
.icon-head{
	padding:50px;
}
.header{
	margin-top:20px;
}

.divarti{
	margin-bottom:50px!important;
	margin-top:50px!important;
}
#contact,#people{
	z-index: -1;
}
.footer{
	margin:70px 0px 0px;
	
	width: 100%;
	
}
#people{
	margin-top:50px;
	background-color: #E0E0EB;
}

.block{
	margin-top:100px;
	
	padding:50px;
}
#work,#project{
	min-height: 600px;
}
#map{
	width: 400px;
	height:300px;
}
.frm-control{
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 3px;
	padding: 10px;
	width:70%;
}
.frm-control:hover{
	border: 1px solid rgba(83, 138, 255, 0.9);
}
.frm-control:focus{
	border: 1px solid rgba(83, 138, 255, 0.9);
	box-shadow: 1px 1px 10px rgba(83, 138, 255, 0.3);
}
.dropcaps{
	float: left;
	padding-top: 6px;
	padding-right: 8px;
	padding-left: 3px;	
}
.dropcap-oneline{
	float: left;
	padding-right: 8px;
	padding-left: 3px;	
}
.center-footpic{
	text-align: center;
	margin-left: -32%;
}
.opacity5{
	opacity:0.5;
}
.opacity7{
	opacity:0.7;
}
@media screen and (max-width: 1100px){
	#map{
		width: 350px;
		height: 250px;	
	}
	#btn-location{
		display: none;
	}
hr{
	width: 77%;
}	
}
@media screen and (max-width: 768px){
	#map{
		display: none;	
	}
	#btn-location{
		display: block;
	}	
}
@media screen and (min-width: 1100px){
	#btn-location{
		display: none;
	}
}