@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
.width-page{
	width: 100%;
}
html{
	font-family: 'Source Sans Pro', sans-serif;
}
.edgeLoad-EDGE-1385226 { 
	visibility:hidden; 
}

.container{
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	z-index: 0!important;
}

.fixnav{
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	z-index: 1111;
	background-color: white;
}
.fixnav a{
	z-index: 1111111111;
}
nav a{
	margin:15px;
	
}
.fixnav-bottom{
	background-color:white;
	position: fixed;
	left:0px;
	right:0px;
	width:100%;
	bottom: 0px;
	height:50px;
	min-width: 800px;
}
.icon-head{
	margin-top:20px;
	margin-bottom:20px;
}

.header{
	margin-top:20px;
}

.artic{
	margin-bottom:50px;
	margin-top:50px;
}
#contact,#people{
	z-index: -1;
}
.footer{
	margin:70px 0px 0px;!important;
	
	width: 100%;
	
}
#people{
	background-color: #E0E0EB;
}

.block{
	margin-top:100px;
	
	padding:50px;
}
#work,#project{
	min-height: 600px;
}
